*{
    margin:0;
    padding:0;
}body{
    background:linear-gradient(90deg,blue,white);
}
header{
    text-align:center ;
    font-family:fantasy;
    font-size: 1.8em;
    background:rgb(50, 148, 205);
    margin: 20px 39px;
    padding: 20px;
    border: 5px solid rgb(0, 30, 128);
    width:91%;
    margin-top: 40px;
}h2{
    text-align:center ;
    padding: 30px;
    border: 5px solid black;
    
   
}main {
    max-width: 500px;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
}

.contenedor-tabla{
    max-width: 80%;
}

th,td{
    padding:20px;
    border:5px solid rgb(25, 17, 146);
    text-transform: uppercase;
    

}td{
    color:black;
}
nav{
    border: 5px solid rgb(0, 30, 128);
    background:rgb(50, 148, 205);
    margin:20px 40px ;
    padding:20px;
    
}.boton{
    display:inline-block;
    align-items: center;
    background-color:rgb(46, 156, 207);
    font-size: 20px;
    text-align: center;
    padding: 15px 32px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 6px;
}a{
    color:white;
    text-decoration: none;
    
}